{
    "editor.formatOnSave": true,
    "prettier.singleQuote": true,
    "jsxSingleQuote": true,
    "tabWidth": 4,
    "prettier.printWidth": 70,
    "[javascript]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    }
}
